#phytochemicalTable{
    border-collapse: collapse;
    border: solid 2px rgb(98, 98, 98);
    text-align: center;
}

#phytochemicalTableDiv{
    width: 100%;
    max-height: 80vh;
    overflow-x: auto;
    overflow-y:auto;
}

td, th, tr{
    padding: 4px;
}

.tableDataCulinary, .tableDataMedicinal, .tableDataADME, .tableDataOtherNotes, .tableDataReferences{
    min-width: 250px;
}

tr{
    max-height: 250px;
}

td{
    border: 1px #b2b2b2 solid;
}

#tableMainHeader{
    background-color: #cedafa;
    position: sticky;
    top: 0px;
}

.tableSubHeader{
    border-top: solid 1px #000000;
    border-bottom: solid 1px #000000;
}

#fruits{
    background-color: #ffdab9;
}

#vegetables{
    background-color: #baf4ba;
}

#nuts{
    background-color: #efbe98;
}

#herbs{
    background-color: #9bcb9b;
}

#spices{
    background-color: #f9a7a7;
}

.structureThumbnail{
    max-width: 150px;
    max-height: 150px;
    height: auto;
    width: auto;
}
