:root{
    font-family: Baskerville, serif;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
}

body{
    margin: 0;
    padding: 0;
}

#wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#header{
    background-color: aliceblue;
    height: 10%;
    padding: 12px;
    border-bottom: 1px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 500;
}

#main{
    background-color: rgb(250, 241, 229);
    max-height: 70%;
    padding: 12px;
    overflow:scroll;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
}

#footer{
    background-color: rgb(155, 199, 209);
    height: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topicHeader{
    font-weight: 500;
}

.centeredDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.threeColumnDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6px;
    flex-wrap: wrap;
}

@media screen and (max-width:580px) {
    .threeColumnDiv { flex-wrap: wrap; }
    .leftColumn { flex-basis: 100%; }
    .middleColumn { flex-basis: 100%; flex: 1;}
    .rightColumn { flex-basis: 100%; }
    #banner { height: 80px;}
  }

.leftColumn{
    display: flex;
    width: 30%;
    padding: 6px;
}

.middleColumn{
    display: flex;
    width: 30%;
    padding: 6px;
}

.rightColumn{
    display: flex;
    width: 30%;
    padding: 6px;
}