.picassoButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    max-width: 80vw;
    background-color:#f1f3f9;
    margin: auto;
    margin-bottom: 10px;
    padding: 3px;
}

.picassoEaselContainer{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin: auto;
}

@media only screen and (max-width: 700px) {
    .picassoEaselContainer{
        width: 60%;
    }
  }

.easelSVG{
    display: flex;
}

.buttonDiv{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    margin-right: 10px;
    margin-left: 10px;
}

.downloadLinkDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 5;
    margin-left: 5;
    visibility:hidden;
}
