*{
    box-sizing: border-box; /* all boxes in the UI calculate the width and height to include padding+margins+borders. */
}

html{
    font-size: 62.5%; /* changes a default 16px font size to 10px */
    height: 100vh;
}

body{
    height: 100%;
    font-family: Garabond, serif;
    background-color: white;
    border-left: 2px solid rgb(198, 198, 245);
    border-top: 2px solid rgb(198, 198, 245);
    border-right: 2px solid rgb(198, 198, 245);
}

h1{
    font-size: 3rem;
    font-weight: 600;
}

h2{
    font-size: 2.4rem;
    font-weight: 500;
    text-decoration: underline;
}

h3{
    font-size: 2rem;
    font-weight: 500;
}

p, li, ol, ul{
    width: 65rem;
    font-size: 2rem;
    font-weight: 400;
    text-overflow: ellipsis;
}

a{
    font-size: 2rem;
    font-weight: 400;
}

.quote{
    max-width: 55rem;
    font-size: 2rem;
    font-weight: 400;
    text-overflow: ellipsis;
    font-style: italic;
}

.italics{
    font-style: italic;
}

.flexWrapperMain{
    width: 100%;
    height: 100%;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column; /*The main axis is column therefore each item is placed underneath the last.*/
    align-items: center; /*The Cross-axis is therefore the position of items along the row. Align-items controls this. If you used justify-content it would not center items in the way we want.*/
    overflow: auto;
}

.flexWrapperHorizontal{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flexWrapperFooter{
    width: 80%;
    height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: fixed;
    bottom: 10px;
    left: 10%;
    background-color: rgb(198, 198, 245);
    border: 1px solid rgb(60, 60, 247);
}

.siteIcon{
    position: fixed;
    top: 15px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: rgb(198, 198, 245);
    border: 1px solid rgb(60, 60, 247);
    font-family: 'Brush Script MT', cursive;
}

.indexSquare{
    padding: 50px;
    margin: 20px;
}

#blue{
    background-color: rgb(198, 198, 245);
}

#green{
    background-color: rgb(199, 245, 198);
}

#yellow{
    background-color: rgb(251, 251, 145);
}

#red{
    background-color: rgb(250, 211, 199);
}

#purple{
    background-color: rgb(250, 197, 250);
}