*{
    box-sizing: border-box;
    font-size: large;    
}

head, body{
    font-family: Garabond, serif;
    margin: 0;
    padding: 0;
}

blockquote{
    font-style: italic;
    font-size: large;
}

h2{
    font-size: x-large;
    text-align: center;
    padding: 10px;
}

.gridWrapper{
    display: grid;
    height: 100vh;
    grid-template-rows: [header-row-start] 75px [header-row-end middle-row-start] auto [middle-row-end footer-row-start]  75px [footer-row-end];
}

.header{
    grid-row: header-row-start / header-row-end;
    background-color: rgb(196, 187, 249);
}

.main{
    grid-row: middle-row-start / middle-row-end;
    background-color: white;
}

.footer{
    grid-row: footer-row-start / footer-row-end;
    background-color: rgb(196, 187, 249);
}

.flexHeaderWrapper{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    padding: 10px;
    margin: 0;
    max-height: 49px;
}

.flexMainWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 0;
    overflow: auto;
    max-height: calc(100vh - 200px);
}

.flexTextWrapper{
    max-width: 40rem;
    border-left: 1px solid grey;
    padding-left: 30px;
}

.flexFooterWrapper{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    padding: 10px;
    margin: 0;
    max-height: 49px;
}

.textNormal{
    font-size: large;
    text-align: left;
}

.textHeader{
    font-size: larger;
    text-decoration: underline;
    font-weight: 500;
    text-align: left;
    padding: 10px;
}

.textNote{
    font-style: italic;
    font-size: medium;
    text-align: left;
}