.picasso-button-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: color-mix(in srgb, var(--bg-color), blue 10%);
    border-radius: 0.5rem;
}

.picasso-button-container input{
    margin: 0;
    padding: 0;
    font-family: inherit; /* Inherits the font family from the parent */
    font-size: inherit;   /* Inherits font-size (e.g., 1rem) from the parent */
}

.picasso-button-container div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.picasso-button-container label{
    margin-right: 0.5rem;
}

#downloadLink{
    visibility: hidden;
}

#hiddenCanvas{
    display: none;
}