body{
    background-color: #71adbb;
    font-family: 'Helvetica', sans-serif;
}

.container{
    background-color: #b4d7de;
    display: grid;
    height: 98vh;
    grid-template-rows: 0.75fr 0.5fr 0.5fr 6fr 2fr 0.5fr;
    grid-template-columns: 8fr;
    grid-template-areas: 
      "title"
      "topbar"
      "midbar"
      "main"
      "toolbar"
      "footer";
    gap: 0em;
    text-align: center;
  }

  .title, .footer{
    background-color: #cae5eb;
  }

  .topbar, .midbar, .toolbar{
    background-color: #ffffff;
    border-bottom: #989797 solid 1px;
  }

  .sidebar{
    background-color: #faebd7;
  }

  .main{
    background-color: #ffffff;
    text-align: center;
    display: inline-block;
    
  }

  button{
    min-width: 20px;
    min-height: 30px;
    font-size: medium;
    margin: 10px;
}

.optionBox{
    width: fit-content;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    text-align: left;
    border-left: #000000 solid 1px;
    border-right: #000000 solid 1px;
    background-color: #d3d3d3;
}

td, tr{
    background-color: #ffffff;
    height: 30px;
    width: 30px;
    border-width: 1px;
    border-color: #d3d3d3;
    border-style: solid;
}

td:hover, tr:hover{
    border-style: dashed;
    border-color: #0000ff;
}

#easel{
    width: 780px;
    height: 390px;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: #000000 1px solid;
}

#paletteDiv{
  width: auto;
}

.paletteWell{
  width: 30px;
  height:30px;
  display: inline-block;
  border: 1px #000000 solid;
  margin-top: 42px;
  margin-bottom: 42px;
  margin-right: 10px;
  font-size: smaller;
}

#colourPickerDiv{
  background-color: white;
  display: inline-block;
  vertical-align: top;
  margin-top: 42px;
  border: 3px dashed #989797;
  height: 30px;
  margin-right: 10px;
}

#colourPickerLabel{
  margin-left: 4px;
}

.paletteWell:hover{
  box-shadow: inset 0 0 3px;
}

#paintBrushIconDiv{
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 10px;
  vertical-align: top;
  display: inline-block;
}

#paintBrushIcon{
  background-color: #ffffff;
  border: solid #000000 1px;
}

.hiddenCanvas{
  visibility: hidden;
  display: none;
}