.toc-item {
  display: flex;
  align-items: baseline; /* Keeps text and line aligned perfectly on their bottom edges */
  margin-bottom: 1rem;
}

.toc-line {
  flex-grow: 1;
  height: 2px;
  object-fit: fill;
}

/* For SVGs to invert in light vs dark */
@media (prefers-color-scheme: dark) {
  .toc-line {
    filter: invert(1);
  }
}